*{
  text-decoration: none !important;
}
/* utilites classes */
.white_s_nowrap{white-space: nowrap;}
.opcity_07 {
  opacity: 0.7;
}
.btn_bg {
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%), #ffae01;
}
.welcome_heading {
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transition_3s{transition: all 300ms linear;}

.py_14 {
  padding-top: 14px;
  padding-bottom: 14px;
}
.px_20 {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width:992px) {
  .lh_150 {
    line-height: 150%;
  }
  .lh_174 {
    line-height: 174%;
  }
  
}
