/* rarity-section */
.d_none {
  display: none;
}

.btn_rarity_bg_linier {
  background: linear-gradient(180deg, #1b1b1b 0%, #090909 100%);
  transition: 0.3s ease-in-out;
}

.btn_rarity_bg_linier_2 {
  background: linear-gradient(180deg, #1b1b1b 0%, #090909 100%);
  transition: 0.3s ease-in-out;
}

.btn_rarity_bg_linier:hover {
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%), #ffae01;
}

.rarity_sec_btn_p {
  padding-top: 12px;
  padding-bottom: 12px;
}

.rarity_card_border {
  border: 1.26px solid #ff5001;
  border-radius: 17.34px;
  background-image: linear-gradient(135deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.03) 100%);
  backdrop-filter: blur(31.478700637817383px);
}

.rarity_card_border:hover {
  box-shadow: 0 0 30px 3px #ff5602b4;
}

.text_color_linier {
  background: linear-gradient(#fed710, #ff5001);
  -webkit-background-clip: text;
  color: transparent;
}

.rarity_btn_buynow_px {
  padding-left: 32px;
  padding-right: 32px;
}

.d_block {
  display: block;
}

.w_1200 {
  max-width: 1200px !important;
}

.py_12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

::-webkit-scrollbar {
  display: none;
}

/*----------- royalty stash section --------------------*/
.royalty_stash_bg_img {
  background-image: url(./assets/images/webp//royaltystay_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.royalti_stash_linier_bg {
  border: 1.26px solid #ff5001;
  border-radius: 17px;
  backdrop-filter: blur(27.21642303466797px);
  max-width: 1136px;
}

.royalti_tatto_img_1_width {
  max-width: 280px;
}

.royalti_tatto_img_2_width {
  max-width: 246px;
}

.royalti_tatto_img_3_width {
  max-width: 265px;
}

.royalty_left_box {
  left: -10%;
  bottom: -30px;
  max-width: 100px;
}

.royalty_right_box {
  right: -5%;
  bottom: -40px;
  max-width: 90px;
}
.overflow_auto{
  overflow: auto;
}
@media (min-width: 991.98px) {
  .royalty_left_box {
    left: -5%;
    max-width: 140px;
  }

  .royalty_right_box {
    right: -5%;
    max-width: 160px;
  }
}

@media (min-width: 1199.98px) {
  .royalty_left_box {
    left: -3%;
    max-width: 200px;
  }

  .royalty_right_box {
    right: -4%;
    max-width: 180px;
  }

  .overflow_auto {
    overflow: unset !important;
  }
}

@media (min-width: 1399.98px) {
  .royalty_right_box {
    right: -10%;
    max-width: 300px;
  }

  .royalty_left_box {
    left: -7%;
    max-width: 250px;
  }
}