
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "Agnostic";
  src: url(../src/assets/fonts/Agnostic_400.otf);
}
.ff_agnostic {
  font-family: "Agnostic";
}
.ff_poppins {
  font-family: "poppins";
}
.ff_roboto {
  font-family: "Roboto";
}
/* --------------------------------------root--------------------------------------- */
:root {
  --fs-sm: 14px;
  --fs-md: 15px;
  --fs-lg: 18px;
  --fs-xl: 18px;
  --fs-2xl: 18px;
  --fs-3xl: 24px;
  --fs-4xl: 25px;
  --fs-5xl: 30px;
  --fs-6xl: 25px;
  --fs-7xl: 30px;
  --fs-8xl: 30px;
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_6xl {
  font-size: var(--fs-6xl);
}
.fs_7xl {
  font-size: var(--fs-7xl);
}
.fs_8xl {
  font-size: var(--fs-8xl);
}
@media (min-width: 576px) {
  :root {
    --fs-8xl: 60px;
    --fs-7xl: 40px;
    --fs-4xl: 28px;
    --fs-2xl: 20px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-8xl: 60px;
    --fs-7xl: 45px;
    --fs-3xl: 26px;
    --fs-2xl: 22px;
    --fs-lg: 20px;
    --fs-md: 16px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-8xl: 50px;
    --fs-7xl: 40px;
    --fs-6xl: 35px;
    --fs-5xl: 32px;
    --fs-2xl: 20px;
    --fs-xl: 22px;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-8xl: 60px;
    --fs-7xl: 45px;
    --fs-6xl: 35px;
    --fs-5xl: 35px;
    --fs-2xl: 22px;
  }
}
@media (min-width: 1400px) {
  :root {
    --fs-8xl: 70px;
    --fs-7xl: 49px;
    --fs-6xl: 39px;
    --fs-4xl: 30px;
    --fs-3xl: 29px;
    --fs-2xl: 25px;
  }
}

/* 
--fs-sm: 16px;
--fs-md: 18px;
--fs-lg: 20px;
--fs-xl: 22px;
--fs-2xl: 25px;
--fs-3xl: 29px;
--fs-4xl: 30px;
--fs-5xl: 35px;
--fs-6xl: 39px;
--fs-7xl: 49px;
--fs-8xl: 70px;
 */
