/* nav bar  */
.sm_nav {
  position: fixed;
  z-index: 99 !important;
  bottom: 0;
  left: -100%;
  height:calc(100vh - 100px)!important;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear !important;
}
.nav_animation {
  transform: translateY(100px);
  pointer-events: none;
  opacity: 0;
  transition: 1000ms linear;
}
.opennav {
  transform: translateY(0px);
  pointer-events: unset;
  opacity: 1;
}

/* hero section  */
.hero_bg {
  background-image: url("../src/assets/images/webp/hero_bg.webp");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.mw_941 {
  max-width: 941px;
}
.dragon_height_width {
  width: 100% !important;
  max-width: 150px !important;
  height: 100% !important;
}
.left_5 {
  left: 10%;
}
.logo_not_visible {
  opacity: 0;
  pointer-events: none;
}
.ani_dragons1 {
  animation: drazonhero1 1.5s linear infinite alternate;
}
.ani_dragons2 {
  animation: drazonhero2 1.9s linear infinite alternate;
}
.ani_dragons3 {
  animation: drazonhero3 1.5s linear infinite alternate;
}
.ani_dragons4 {
  animation: drazonhero4 1.9s linear infinite alternate;
}
.h_w_dragon_footer {
  width: 140px !important;
  height: 140px !important;
}

@keyframes drazonhero1 {
  0% {
    transform: translateY(-10px) scale(1.1);
  }
  100% {
    transform: translateY(25px) scale(0.9);
  }
}
@keyframes drazonhero2 {
  0% {
    transform: translateY(0px) scale(1.1);
  }
  100% {
    transform: translateY(25px) scale(0.9);
  }
}
@keyframes drazonhero3 {
  0% {
    transform: translateY(0px) scale(1.1);
  }
  100% {
    transform: translateY(25px) scale(0.9);
  }
}
@keyframes drazonhero4 {
  0% {
    transform: translateY(0px) scale(1.1);
  }
  100% {
    transform: translateY(25px) scale(0.9);
  }
}
@media (min-width: 576px) {
  .dragon_height_width {
    width: 100% !important;
    max-width: 200px !important;
    height: 100% !important;
  }
}
@media (min-width: 768px) {
  .h_w_dragon_footer {
    width: 200px !important;
    height: 200px !important;
  }
}
@media (min-width: 992px) {
  .h_w_dragon_footer {
    width: 306px !important;
    height: 307px !important;
  }
}
@media (min-width: 1200px) {
  .min_vh_100_xxl {
    min-height: 100vh;
  }
  .dragon_height_width {
    width: 100% !important;
    max-width: 280px !important;
    height: 100% !important;
  }
  .position_absolute {
    position: absolute !important;
  }
  .h_w_dragon_footer {
    width: 406px !important;
    height: 407px !important;
  }
}
@media (min-width: 1400px) {
  .hero_dragon1 {
    width: 380px !important;
    height: 453px !important;
  }
  .hero_dragon2 {
    width: 280px !important;
    height: 356px !important;
  }
  .hero_dragon3 {
    width: 250px !important;
    height: 310px !important;
  }
  .hero_dragon4 {
    width: 380px !important;
    height: 450px !important;
  }
  .dragon_height_width {
    width: 100% !important;
    max-width: 280px !important;
    height: 100% !important;
  }
  .trans_70X {
    transform: translateX(70px);
  }
}
/* footer  */
.icon_hover:hover {
  box-shadow: 0 0 20px 5px #fed110;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.icon_hover {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.nav ul li a {
  position: relative;
 
}
.nav ul li a::before {
  position: absolute;
  content: "";
  background-color: white;
  height: 3px;
  width: 0;
  bottom: -5px;
  left: 50%;
  border-radius: 20px;
   transition: all 0.3s linear !important;
}
.nav ul li a:hover::before{
  width: 100%;
  left: 0;
}