/* ----------------------------------- Roadmap section ----------------------------- */
.roadmap_section h3 {
  font-family: "Agnostic";
  font-size: var(--fs-5xl);
  font-weight: 400;
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roadmap_section ul li {
  color: #fff;
  font-family: "Poppins";
  font-size: var(--fs-md);
  font-weight: 400;
  line-height: 174%;
}
.roadmap_numbers_linear {
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*------------------------------------------ team section -------------------------------*/
.team_bg {
  background-image: url(../src/assets/images/webp/team_bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.on_image_text {
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}
.team_card:hover {
  box-shadow: 0px 4px 41px 0px rgba(254, 215, 16, 0.5);
  border-radius: 16px;
}
.team_section::before{
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  transform: matrix(1, 0, 0, -1.5, 0, 0);
  width: 100%;
  height: 50px;
}
/*---------------------------------------------------- game section  ---------------------------*/
.game_play_btn {
  bottom: -5%;
  left: -1%;
  width: 70px;
}
@media (min-width: 576px) {
  .game_play_btn {
    bottom: -5%;
    left: -5%;
    width: 140px;
  }
}

/*------------------------------------ preloader ----------------*/
.z_index_50 {
  z-index: 50;
}
.animation_preloader {
  animation: spin 4s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(180deg);
  }
  30% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(330deg);
  }
  80% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* back to top */
.c_pointer {
  cursor: pointer;
}
.backtotop_icon{height: 50px;
width: 50px;
background-color: #ff5001;
bottom: 4%;
right: 4%;
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid transparent;
transition: all 250ms linear;
animation: scale 2s linear infinite;}
@keyframes scale {
  0%{transform: scale(1)rotate(270deg)translate(4px);}
  50%{transform: scale(1.1)rotate(270deg)translate(-3px);}
  100%{transform: scale(1)rotate(270deg)translate(4px);}
  
}
.backtotop_icon:hover{background-color: black;
border: 2px solid #ff5001;}
